<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments.html :: styles_and_scripts"></head>
	<body>
		<header th:insert="fragments.html :: header"> </header>
		<p>Add reports to <span th:text="${speaker.name}">speaker</span></p>
		<form method="POST" th:action="@{/moderator/addreports/speaker/{name}(name = ${speaker.name})}"  th:object="${speaker}" id="reports">
	        <ul>
	        	<li th:if="${reports.empty}">
		            <p> No Reports Available </p>
		        </li>
	            <li th:each="report : ${reports}">
	                <div>
	                    <input type="checkbox" th:field="*{reports}" th:value="${report.topic}">
	                    <label th:text="${report.topic}"></label>
	                </div>
	            </li>
	        </ul>
	        <input type="submit" value="Add reports"/>
	    </form>
	    <script th:src="@{/static/js/custom.js}"></script>
	</body>
</html>