<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Conferences</title>
</head>
<body>
	<p><span th:text="${event.name}"> Name </span></p>
    <p><span th:text="${event.place}"> Place </span></p>
    <p><span th:text="${event.date}"> Date </span></p>
    <p><span th:text="${event.time}"> Time </span></p>
	
	<p>Reports: </p>
	<table>
	    <thead>
	        <tr>
	            <th> Topic </th>
	            <th> Speaker </th>
	        </tr>
	    </thead>
	    <tbody>
	     	<tr th:if="${event.reports.empty}">
	            <td colspan="2"> No Reports Available </td>
	        </tr>
	        <tr th:each="report : ${event.reports}">
	            <td><span th:text="${report.topic}"> Topic </span></td>
	            <td><span th:text="${report.speaker.name}"> Speaker </span></td>
	        </tr>
	     </tbody>
	</table>		
		
	<p sec:authorize="isAuthenticated()" th:if="${alreadySubsribed}" style="color:red"><span th:text="${errorMessage}">Error message</span></p>
	<p sec:authorize="isAuthenticated()" th:if="${!event.date.isAfter(#temporals.createToday())}">Event has passed </p>
	<div th:if="${!alreadySubsribed}">
		<form th:if="${event.date.isAfter(#temporals.createToday())}" sec:authorize="isAuthenticated()" method="post" th:action="@{/subscribe/{id}(id = ${event.id})}">
			<button name="button">Subscribe</button>
		</form>
	</div>


	<p sec:authorize="!isAuthenticated()">To subscribe you may <a th:href="@{/register}">register</a> or <a th:href="@{/login}">login</a></p>
	<p>To <a th:href="@{/}">start</a>  page</p>
</body>
</html>