<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Conferences</title>
	</head>
	
	<body>
		<h1>Update event</h1>
		<form method="POST" th:action="@{/moderator/update/event/{id}(id = ${event.id})}" th:object="${event}" id="event">
			<lable for="name">id: </label>
			<p><span id="eventid" th:text="${id}"> Id </span></p>
			<lable for="name">Name: </label>
			<input type="text" th:field="*{name}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('name')}"
				th:errors="*{name}">Name Error</span><br/>
		
			<lable for="place">Place: </label>
			<input type="text" th:field="*{place}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('place')}"
				th:errors="*{place}">Name Error</span><br/>
				
			<lable for="date">Date: </label>
			<input type="date" th:text="${#temporals.format(localDate, 'yyyy-MM-dd')}" th:field="*{date}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('date')}"
				th:errors="*{date}">Name Error</span><br/>
				
			<lable for="time">Time: </label>
			<input type="time" th:text="${#temporals.format(localTime, 'HH-mm')}" th:field="*{time}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('time')}"
				th:errors="*{time}">Name Error</span><br/>
			<input type="submit" value="Update event"/>
		<form/><br/>
		<a href="/">Back to main page</a>
	</body>
</html>