<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments.html :: styles_and_scripts"></head>
	<body>
		<header th:insert="fragments.html :: header"> </header>
		<h3>Create event</h3>

		<form method="POST" th:action="@{/moderator/event/create}" th:object="${eventDto}" id="eventForm">
		
			<lable for="nameEn">Name Eng: </label>
			<input type="text" th:field="*{nameEn}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('nameEn')}"
				th:errors="*{nameEn}">Name Error</span><br/>
			
			<lable for="nameUk">Name Ukr: </label>
			<input type="text" th:field="*{nameUk}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('nameUk')}"
				th:errors="*{nameUk}">Name Error</span><br/>
				
			<lable for="placeEn">Place Eng: </label>
			<input type="text" th:field="*{placeEn}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('placeEn')}"
				th:errors="*{placeEn}">Name Error</span><br/>
		
			<lable for="placeUk">Place Ukr: </label>
			<input type="text" th:field="*{placeUk}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('placeUk')}"
				th:errors="*{placeUk}">Name Error</span><br/>
				
			<lable for="date">Date: </label>
			<input type="date" th:text="${#temporals.format(localDate, 'yyyy-MM-dd')}" th:field="*{date}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('date')}"
				th:errors="*{date}">Name Error</span><br/>
				
			<lable for="time">Time: </label>
			<input type="time" th:text="${#temporals.format(localTime, 'HH-mm')}" th:field="*{time}"/>
			<span class="validationError"
				th:if="${#fields.hasErrors('time')}"
				th:errors="*{time}">Name Error</span><br/>
				
			<input type="submit" value="Create event"/>
		<form/>
		<script th:src="@{/static/js/custom.js}"></script>
	</body>
</html>