<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments.html :: styles_and_scripts"></head>
	<body>
		<div th:replace="fragments.html :: header"> </div>
		 
		 <div>
		 	<ul class="navbar ">
		 		<li>
		       		<form  sec:authorize="hasRole('ROLE_MODERATOR')" th:action="@{/moderator/event/create}" method="GET">
			 			<input type="submit" th:value="#{index.moderator.createevent}"/>
			 		</form>
		       </li>
		       <li>
		       		<form  sec:authorize="hasRole('ROLE_MODERATOR')" th:action="@{/moderator/report/create}" method="GET">
			 			<input type="submit" th:value="#{index.moderator.createreport}"/>
			 		</form> 
		       </li>
		       <li>
		       		<form  sec:authorize="hasRole('ROLE_MODERATOR')" th:action="@{/moderator/reports}" method="GET">
			 			<input type="submit" th:value="#{index.moderator.watchreports}"/>
			 		</form>
		       </li>
		       <li>
		       		<form  sec:authorize="hasRole('ROLE_MODERATOR')" th:action="@{/moderator/pastevents}" method="GET">
			 			<input type="submit" th:value="#{index.moderator.watchpastevents}"/>
			 		</form>
		       </li>	
		 	</ul>
		 </div>
	
		</br>
	    <table class="cust_table">
		    <thead>
		        <tr>
		            <th><a th:href="@{/(sortBy='name')}" th:text="#{index.table.eventname}"> Name </a></th>
		            <th><a th:href="@{/(sortBy='place')}" th:text="#{index.table.place}"> Place </a></th>
		            <th><a th:href="@{/(sortBy='date')}" th:text="#{index.table.date}"> Date </a></th>
		            <th><a sec:authorize="hasRole('ROLE_MODERATOR')" th:href="@{/(sortBy='subscr_users')}" th:text="#{index.table.subscribed}"> Subscribed </a></th>
		            <th th:text="#{index.table.reportcount}"> Report count </th>
		            <th sec:authorize="hasRole('ROLE_MODERATOR')" th:text="#{index.table.update}">Update</th>
		            <th sec:authorize="hasRole('ROLE_MODERATOR')" th:text="#{index.table.addreports}">Add new reports</th>
		        </tr>
		    </thead>
		    <tbody>
		     	<tr th:if="${eventPage.content.empty}">
		            <td colspan="2"> No Events Available </td>
		        </tr>
		        <tr th:each="event : ${eventPage.content}">
		            <td><a th:href="@{eventdetails/{id}(id = ${event.id})}"><span th:text="${event.localName}"> Name </span></a></td>
		            <td><span th:text="${event.localPlace}"> Place </span></td>
		            <td><span th:text="${event.date}"> Date </span></td>
		            <td><span sec:authorize="hasRole('ROLE_MODERATOR')" th:text="${event.subscrUsers}"> Subscribed </span></td>
		            <td>
						<span th:with="convertedList=${#lists.toList(event.reports)}">
    						<span th:text="${#lists.size(convertedList)}"/>
						</span>
					</td>
		            <td sec:authorize="hasRole('ROLE_MODERATOR')"><a th:href="@{/moderator/update/event/{id}(id = ${event.id})}" th:text="#{index.table.update}">Update</a></td>
		            <td sec:authorize="hasRole('ROLE_MODERATOR')"><a th:href="@{/moderator/addreports/event/{id}(id = ${event.id})}" th:text="#{index.table.addreports}">Add new reports</a></td>
		        </tr>
		     </tbody>
		</table>
		<div class="page_numbers" th:if="${eventPage.totalPages > 0}"
		    th:each="pageNumber : ${pageNumbers}">
		    <a th:href="@{/(size=${eventPage.size}, page=${pageNumber}, sortBy=${param.sortBy})}"
		        th:text=${pageNumber}
		        th:class="${pageNumber==eventPage.number + 1} ? active"></a>
		</div>
		<script th:src="@{/static/js/custom.js}"></script>
	</body>
</html>