<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Conferences</title>
	</head>
	
	<body>
		<h1>Login</h1>
		
		<p> New here? 
			<a th:href="@{/register}">Click</a> to register.<p>
			
		<div th:if="${param.error}">
			<p style="color:red">Unable to login. Check your username and password.</p>
		</div>
			
		<form method="POST" th:action="@{/login}" id="nameForm">

			<label for="username">Login: </label>
			<input type="text" name="username" id="username"/><br/>
			
			<label for="password">Password:</label>
			<input type="password" name="password" id="password"/><br/>
						
			<input type="submit" value="Login"/>
		</form>
		</br>
		<p>To <a th:href="@{/}">start</a>  page</p>

		<input type="hidden" name="${_csrf}" th:value="${_csrf.token}"/>
	</body>
	
</html>