<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments.html :: styles_and_scripts"></head>
	<body>
		<header th:insert="fragments.html :: header"> </header>
		<h1>Register</h1>
		
		<form method="POST" th:action="@{/register}" th:object="${registrationForm}" id="registerForm">
		
			<lable for="username">Email: </label>
			<input type="text" th:field="*{username}"/>
			<span style="color:red" class="validationError"
				th:if="${#fields.hasErrors('username')}"
				th:errors="*{username}">Name Error</span><br/>
		
			<lable for="password">Password: </label>
			<input type="password" th:field="*{password}"/>
			<span style="color:red" class="validationError"
				th:if="${#fields.hasErrors('password')}"
				th:errors="*{password}">Name Error</span><br/>
				
			<lable for="passwordConfirmation">Comfirm password: </label>
			<input type="password" th:field="*{passwordConfirmation}"/>
			<span style="color:red" class="validationError"
				th:if="${#fields.hasErrors('passwordConfirmation')}"
				th:errors="*{passwordConfirmation}">Name Error</span><br/><br/>
				
			<input type="submit" value="Register"/>
		<form/><br/>

		<script th:src="@{/static/js/custom.js}"></script>
	</body>

</html>