<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<div th:insert="fragments.html :: styles_and_scripts"></div>
	
	</head>
	<body onload="downloadSpeakers()">
		<header th:insert="fragments.html :: header"> </header>

		<table id="topictable" class="cust_table">
			<thead>
				<tr>
					<th th:text="#{report.topic}"> Topic </th>
					<th th:text="#{moderator.creator}"> Creator </th>
					<th th:text="#{moderator.is.accepted}"> Is Accepted </th>
					<th th:text="#{report.speaker}"> Speaker </th>
					<th th:text="#{moderator.set.accepted}"> Set Accepted </th>
					<th th:text="#{moderator.set.speaker}"> Set new Speaker </th>
					<th th:text="#{index.table.update}"> Update </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="report : ${reports}">
					<td><span th:text="${report.localTopic}"> Topic </span></td>
					<td><span th:text="${report.creator}"> Creator </span></td>
					<td><span th:text="${report.accepted}"> Accepted </span></td>
					<td><span th:text="${report.speaker} ? ${report.speaker.localName} : 'Absent'">Speaker</span></td>
					<td>
						<select>
							<option><span th:text="${report.accepted}"> Accepted </span></option>
							<option><span th:text="${!report.accepted}"> Accepted </span></option>
						</select>
					</td>
					<td class="speakers"></td>
					<td>
						<div>
							<button th:onclick="updateReport(this)" th:text="#{index.table.update}">Update</button>								
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<script th:src="@{/static/js/custom.js}"></script>
	</body>
</html>