<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments.html :: styles_and_scripts"></head>
	<body>
		<header th:insert="fragments.html :: header"> </header>
		<ul th:each="speaker : ${speakers}">
			<li th:if="${speakers.empty}">No Speakers Available </li>
			<li>
				<p><span th:text="${speaker.name}"> Speaker </span></p>
				<p><a th:href="@{/moderator/addreports/speaker/{speakername}(speakername = ${speaker.name})}">add new reports</a></p>
				<table>
					<thead>
						<tr>Report topic</tr>
						<tr>Is accepted</tr>
					</thead>
					<tbody>
						<tr th:if="${speaker.reports.empty}">
	            			<td colspan="2"> No Accepted Reports Available </td>
	        			</tr>
						<tr th:each="report : ${speaker.reports}">
							<td><span th:text="${report.topic}" >Topic</span></td>
							<td><span th:text="${report.accepted}" >Is accepted</span></td>
						</tr>
					</tbody>
				</table>
			</li>
		</ul>
		<script th:src="@{/static/js/custom.js}"></script>
	</body>
</html>