<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head th:insert="fragments.html :: styles_and_scripts"></head>
	<body>
		<header th:insert="fragments.html :: header"> </header>
		<h3>My Subscribed Events</h3>	
		</br>
		<ul th:each="event : ${events}">
			<li th:if="${events.empty}">Events are not available</li>
			<li>
				<p><span th:text="${event.localName}"> Name </span></p>
				<p><span th:text="${event.localPlace}"> Place </span></p>
				<p><span th:text="${event.date}"> Date </span></p>
				<p><span th:text="${event.time}"> Time </span></p>
				<p>Reports</p>
				<table>
					<thead>
						<tr>Report topic</tr>
						<tr>Speaker</tr>
					</thead>
					<tbody>
						<tr th:if="${event.reports.empty}">
	            			<td colspan="2"> No Reports Available </td>
	        			</tr>
						<tr th:each="report : ${event.reports}">
							<td><span th:text="${report.localTopic}" >Topic</span></td>
							<td><span th:text="${report.speaker.localName}" >Speaker</span></td>
						</tr>
					</tbody>
				</table>
			</li>
		</ul>
		<script th:src="@{/static/js/custom.js}"></script>
	</body>
</html>