body {
  background-color: #ccffff;
  font-family: Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
}

#eventForm {
	display:inline-block;
}

#topicForm {
	display:inline-block;
}

.navbar {
  overflow: hidden;
  background-color: #e9e9e9;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 10px 0px 0px 10px;
  
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
}

.navbar form {
	margin:5px 5px 5px 5px;
	display: inline;
}

.lang{
	padding: 5px;
}

.page_numbers {
	display: inline;
}

.center {
	text-align: center;
	vertical-align: middle;
	
}

#registerForm > fieldset {
	display: inline;
}

#registerForm > input[type=submit] {
	margin-top: 5px;
}

#nameForm > fieldset {
	display: inline;
}

#nameForm > input[type=submit] {
	margin-top: 5px;
}

#reportForm > fieldset {
	display: inline;
}

#reportForm > input[type=submit] {
	margin-top: 5px;
}

.cust_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.cust_table td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

.cust_table tr:hover {background-color: #ddd;}

.cust_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}