#eventForm {
	display:inline-block;
}

#topicForm {
	display:inline-block;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
}
.navbar form {
  display: inline;
}
.page_numbers {
	display: inline;
}